* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: rgb(245, 243, 243);
  background-color: #f0f0f0;
  background-image: url('https://static.vecteezy.com/system/resources/previews/022/918/089/original/horizontal-space-background-with-abstract-shape-and-stars-web-design-space-exploring-illustration-of-galaxy-concept-of-web-banner-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  margin-top: 40px;
}

.h1 {
  color: black;
  font-size: 3em;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  justify-content: center;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap; /* se ajustan hacia abajo */
  justify-content: center;
  align-items: center;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background: linear-gradient(to bottom right, #713f6f, #253563);
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  justify-content: center;
  align-items: center;
}

